:root {

    --brand-color: #156963;
	--hover-effect-color: #0d4844;
	--title-top-text-color: #495057;
	--button-text-color: #fcfcfc;
	/* --links-text-color: #94929e;
	--container-menu-active: #0b0906e6;
	--background-header-contact-us: #0c0c0c80;
	font-family: "Spectral", serif; */  */ */
}