@import url(./font.css);
@import url(./header.css);
@import url(./catalog.css);
@import url(./modal.css);
@import url(./general.css);


* {
    font-family: 'Montserrat', sans-serif;
}

header .container {
    padding: 20px 0 ; 
    
}

.nav-link img {
    color:  var(--brand-color);
}

.form-control {
    margin-left: 30px;
}

.btn {
    width: 150px;
}

.btn-primary {
    background-color:  var(--brand-color);
    border: none;
    margin-right: 20px;
    margin-left: 30px;
}

.btn-primary:hover {
    background-color:  var(--hover-effect-color);
    border: none;
}

.btn-bg:active {
    background-color: var(--hover-effect-color);
    border: none;
}

.btn-outline-primary {
    color:  var(--brand-color);
    border-color:  var(--brand-color);
}

.btn-outline-primary:hover {
    background-color: var(--brand-color);
    border: none;
}

.btn-outline-primary:active {
    background-color: var(--brand-color);
    border: none;
}


.firstScreen .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 60px;
}

.firstScreen__content {
    margin-left: 20px;
    margin-right: 50px; 
}

.firstScreen__content__title {
    width: 700px;
    
    font-weight: 500;
    color:  var(--brand-color);
}

.title-top {
    font-family: 'Pinyon Script', cursive;
    font-size: 130px;
    letter-spacing: 2px;
    line-height: 130px;
    color: var(--title-top-text-color);
    transform: translateX(145px) translateY(80px);
    z-index: 0;
    position: relative;
}

.title-bottom {
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    line-height: 128px;
    font-weight: 500;
    display: inline;
    z-index: 2;
    position: relative;
    
}

.firstScreen__content__description {
    width: 520px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 24px;
}

.firstScreen__buttons {
    display: flex;
    margin-top: 110px;
}

.button {
    width: 300px;
    padding: 40px 20px; 
}

.nameOfFlower {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button div {
    display: flex;
    justify-content: center

   
}

.next {
    background-color: var(--brand-color);
    color: var(--button-text-color);
}

.prev {
    color:  var(--brand-color);
    padding-left: 0;
}

.prev div div {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    
}

.next div div {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color: var(--button-text-color);
}

.prev div img {
    margin-right: 8px;
}

.next div img {
    margin-left: 8px; 
}


.preferences {
    margin: 100px 0;
    padding: 20px 50px ; 
}

.preferences .container {
    display: flex;
    justify-content: space-between;
}


.preference {
    width: 20%;
    padding: 16px 22px;
    border: 1px solid #E0E0E0;
}

.preference__title {
    display: flex;
    align-items: center;
}

.title-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color:  var(--brand-color);
    margin-left: 16px;
   
}

.preferences__description {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 16px;
}

.catalog__title {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

form {
    font-size: 16px;
}
option {
    padding: 15px;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
}

.card-body {
    text-align: center;
}

.advertising {
    padding: 0 50px;
    margin: 100px 0;
}

.advertising .container {
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 50%;
    justify-items: end;
}

.section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.advertisment__description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.PhotoAdv {
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
    width: 645px;
}

.mainPhotoAdv {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 513px;
}

.call-to-action .container {
    background: url(../img/CTAPicture.png);
    padding-top: 88px;
    padding-bottom: 88px;
    padding-left: 97px;
}

.section__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 30px;
}

.call-to-action .section__title {
    width: 50%;
}

.call-to-action .btn-primary {
    margin: 0;
}

footer .container {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.footer__post-adress {
    width: 400px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color:  var(--brand-color);
    margin-bottom: 20px;
}

.post-adress__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.post-adress__content {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}





footer form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input-name {
    margin-bottom: 20px;
    font-weight: 500;
}

.footer__email-adress input {
    height: 50px;
    padding: 5px;
    border: 1px solid #F2F2F2;
}

.footer__email-adress .button {
    margin-top: 15px;
    width: 100px;
    height: 30px;
    padding: 4px 12px;
    border: none;
    background-color: var(--brand-color);
    color: var(--button-text-color);
}




