.header__wraper {
    width: 1160px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;


    display: flex;
    justify-content: space-between;

    
}

.header__content {
    width: 310px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons {
    width: 80px;

    display: flex;
    justify-content: space-between;
}

.header__content img {
    width: 20px;
    height: 20px;
}

button {
    width: 110px;
    height: 40px;
    margin: 0;

}

.signUp {
    background-color: white;
    border: none;
}

.signIn {
    border-radius: 0;
    border: 0;
    background-color: #156963;
    color: #fff;
}

