@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 50px ; 
    
}

.nav-link img {
    color: #156963;
}

.form-control {
    margin-left: 30px;
}

.btn {
    width: 150px;
}

.btn-primary {
    background-color: #156963;
    border: none;
    margin-right: 20px;
    margin-left: 30px;
}

.btn-primary:hover {
    background-color: #0d4844;
    border: none;
}

.btn-bg:active {
    background-color: #0d4844;
    border: none;
}

.btn-outline-primary {
    color: #156963;
    border-color: #156963;
}

.btn-outline-primary:hover {
    background-color: #156963;
    border: none;
}

.btn-outline-primary:active {
    background-color: #156963;
    border: none;
}



/* .firstScreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} */

.firstScreen {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    padding: 0 40px 0 0;
}

.firstScreen__content {
    margin-right: 77px; 
}

.firstScreen__content__title {
    width: 700px;

    font-size: 68px;
    font-weight: 500;
    color: #156963;
}

.firstScreen__content__description {
    width: 520px;

    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

    margin-top: 24px;
}

.firstScreen__buttons {
    display: flex;

    margin-top: 110px;
}

.button {
    width: 420px;
    

    padding: 38px 49px;

    
}

.nameOfFlower {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button div {
    display: flex;

   
}

.next {
    background-color: #156963;
    color: #fff;
}

.prev {
    color: #156963;

    padding-left: 0;
}

.prev div div {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    color: #333;
}

.next div div {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    color: #F2F2F2;
}

.prev div img {
   
    margin-right: 8px;
}

.next div img {
    margin-left: 8px; 
}


.preferences {
    margin: 120px 0;
    padding: 20px 50px ; 
    display: flex;
    justify-content: space-between;
}


.preference {
    width: 350px;
    padding: 16px 22px;
   

    border: 1px solid #E0E0E0;
}

.preference__title {
    display: flex;
    align-items: center;
}

.title-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #156963;
    margin-left: 16px;
   
}

.preferences__description {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 16px;
}

.catalog__title {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E0E0E0;
    border-top: none;
    border-left: none;
    border-right: none;

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

form {
    font-size: 16px;
}
option {
    padding: 15px;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
}

.card-body {
    text-align: center;
}


